.col1{
background: #5C7080;
    height:80px;
}
.col2{
background: #6BC0FF;
    height:80px;
}
.col3{
background: #5C7080;
    height:80px;
}
.col4{
background: #6BC0FF;
height:80px;
}
.col5{
background: floralwhite;
 height:80px;
}
.col6{
background: yellow;
}