.head1{
    background-color: #d0181e;
    height: auto;
    width:25%;
    margin-left: 37.5%;

}
body{
    background-image:url('../images/back54.jpg');
}
.sideu{
    margin-left: 80%;
}

.side{
    background-color:deepskyblue;
    color:#3366FF;
    float:right;
    text-align:center;
    width:350px;
    margin-top: auto;
    height:440px;
    border:5px;
    border-radius:0.5em;
}
.sty{

    text-align: center;
    color: azure;
}
.st{
    margin-left: 80%;
}

.comimage{
    width: 200px;
    height: 200px;
    margin-left: -50px;
}
.comimaget{
    margin-top: 15px;
}